.landing-grid {
  background-color: white;
  text-align: center;
  position: static;
  top: 0px;
  margin-left: 0%;
  padding-left: 0;
  width: 100%;
  height: 30%;
}

.profile-img {
  height: 50%;
  margin-top: 1%;
  margin-bottom: 1%;
  /* padding-top: 3%;
  padding-bottom: 3%; */
  border-radius: 50%;
  border: 2px ridge #00389d;
}

.banner-text {
  background-color: white;
  /* padding-top: 5%; */
  /* opacity: 0.9; */
  width: 75%;
  margin: auto;
  border-radius: 10px;
  height: 8%;
}

.banner-text h1 {
  font: Trebuchet;
  font-size: 5em;
  font-weight: bold;
  color: black;
}
.banner-text hr {
  border-top: 2px solid #00389d;
  width: 50%;
  margin: auto;
}
.banner-text p {
  color: black;
  font-size: 20px;
  padding: 1em;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i {
  color: black;
  font-size: 5em;
  padding: 8px;
}
